*.dcu
__recovery
__history
Win32

/Projects/**/*.identcache
/Projects/**/*.dsk
/Projects/**/*.dsv
/Projects/**/*.local
/Projects/**/*.~dsk
/Projects/**/*.drc
/Projects/**/*.map

/Projects/DcuCompileTimes/*.res
/Projects/DcuCompileTimes/Test/*.exe
/Projects/DcuCompileTimes/Test/*.res
/Projects/DcuCompileTimes/Test/TestInsightSettings.ini
/Projects/DcuCompileTimes/Test/dunitx-results.xml

/Projects/TmplCodeGen/TmplCodeGen.exe
/Examples/GenericsStudy/DelphiGenerics/Benchmark_DelphiGenerics.exe
/Examples/GenericsStudy/SpringGenerics/Benchmark_SpringGenerics.exe
/Examples/GenericsStudy/StaticGenerics/Benchmark_StaticGenerics.exe
