*.dcu
__recovery
__history
Win32

/**/*.identcache
/**/*.dsk
/**/*.dsv
/**/*.local
/**/*.~dsk
/**/*.drc
/**/*.map
/**/*.log

/Projects/DcuCompileTimes/*.res
/Projects/DcuCompileTimes/Test/*.exe
/Projects/DcuCompileTimes/Test/*.res
/Projects/DcuCompileTimes/Test/TestInsightSettings.ini
/Projects/DcuCompileTimes/Test/dunitx-results.xml

/Projects/TmplCodeGen/TmplCodeGen.exe
/Examples/GenericsStudy/DelphiGenerics/Benchmark_DelphiGenerics.exe
/Examples/GenericsStudy/SpringGenerics/Benchmark_SpringGenerics.exe
/Examples/GenericsStudy/StaticGenerics/Benchmark_StaticGenerics.exe
/Examples/GenericsStudy/mORMotGenerics/Benchmark_mORMotGenerics.exe
/Examples/GenericsStudy/*_run.txt
/Projects/DPT/DptConfig.ini
/Projects/DPT/Lint/*.Descriptions.txt
/Projects/DPT/Lint/*.Template.pas
/Projects/DPT/Lint/*.Tests.txt
